
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="renderer" content="webkit"/>
    <meta name="applicable-device" content="pc">
    <title>哈哈哈哈哈哈 - 糗事百科 </title>
    <meta name="description" content="哈哈哈哈哈哈" />
    <meta name="keywords" content="哈哈哈," />
    <meta http-equiv="mobile-agent" content="format=html5;url=http://www.qiushibaike.com/article/117359728">
    <meta http-equiv="mobile-agent" content="format=xhtml;url=http://www.qiushibaike.com/article/117359728">
    <link rel="canonical" href="http://www.qiushibaike.com/article/117359728"/>

    <meta name="robots" content="noarchive">
    <link href="main.css" media="screen, projection" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="header" class="head">
    <div class="content-block">
        <div class="logo" id="hd_logo">
            <a href="/"><h1>糗事百科</h1></a>
        </div>
        <div id="menu" class="menu-bar menu clearfix" style="margin:0 10px">
            <a  href="/" rel="nofollow">热门</a>
            <a  href="/hot/">24小时</a>
            <a  href="/imgrank/">热图</a>
            <a  href="/text/">文字</a>
            <a  href="/history/">穿越</a>
            <a  href="/pic/">糗图</a>
            <a  href="/textnew/">新鲜</a>
            <a  class="fn-signin-required" href="javascript:void(0);" data-go="/add" rel="nofollow">投稿</a>
            <!--<a href="http://www.youliaodao.cn" target="_blank" rel="nofollow">百科</a>-->
        </div>
    </div>
</div>
<div id="content" class="main">
    <div class="content-block clearfix">
        <div class="col1">
            <div class="source">
                <a href="/pic/" class="source-column">搞笑图片</a>
            </div>
            <div class='alert_coll_page' id='alert_coll_page'>
                <div class='alert_coll_bg'></div>
                <div class='alert_coll'>
                    <div class='alert_coll_text'>已收藏本页面</div>
                    <div class='alert_coll_btn' id='alert_coll_btn'>我知道了</div>
                </div>
            </div>
            <div class="article block untagged noline mb15" id='qiushi_tag_117359728'>
                <div class="author clearfix">
                    <a href="/users/31930370/" target="_blank" rel="nofollow">
                        <img src="http://pic.qiushibaike.com/system/avtnew/3193/31930370/medium/2016082409354231.JPEG" alt="溪郁沐沐"/>
                    </a>
                    <a href="/users/31930370/" target="_blank" title="溪郁沐沐">
                        <h2>溪郁沐沐</h2>
                    </a>
                </div
                <input type="hidden" id="hid">
                <div id="single-next-link" title="下一条">

                    <div class="content">

                        哈哈哈哈哈哈

                    </div>



                    <div class="thumb">

                        <img src="http://pic.qiushibaike.com/system/pictures/11735/117359728/medium/app117359728.jpg" alt="哈哈哈哈哈哈" />

                    </div>


                </div>


                <div class='page-nav-list'>
                    <div id='single-pre-link' class='page-nav-list-bian page-nav-list-pre'>上一条</div>
                    <div id='single-next-link-button' class='page-nav-list-next'>下一条，你懂的</div>
                    <div id='single-coll' class='page-nav-list-bian page-nav-list-coll'>收藏本页面</div>
                </div>

                <div class="stats">
                    <span class="stats-vote"><i class="number">62</i> 好笑</span>
<span class="stats-comments">


<span class="dash"> · </span>
<i class="number">4</i> 评论



</span>
                </div>
                <div id="qiushi_counts_117359728" class="stats-buttons bar clearfix">
                    <ul class="clearfix">
                        <li id="vote-up-117359728" class="up">
                            <a href="javascript:voting(117359728,1)" class="voting" data-article="117359728" id="up-117359728" rel="nofollow">
                                <i></i>
                                <span class="number hidden">73</span>
                            </a>
                        </li>
                        <li id="vote-dn-117359728" class="down">
                            <a href="javascript:voting(117359728,-1)" class="voting" data-article="117359728" id="dn-117359728" rel="nofollow">
                                <i></i>
                                <span class="number hidden">-11</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="single-share">
                    <a class="share-wechat" data-type="wechat" title="分享到微信" rel="nofollow">微信</a>
                    <a class="share-qq" data-type="qq" title="分享到QQ" rel="nofollow">QQ</a>
                    <a class="share-qzone" data-type="qzone" title="分享到QQ空间" rel="nofollow">QQ空间</a>
                    <a class="share-weibo" data-type="weibo" title="分享到微博" rel="nofollow">微博</a>
                </div>
                <div class="single-clear"></div>

                <!-- like user -->

                <div class="like-user">
                    <span class="like-user-arrow"></span>


                    <a href="/users/14068672/" target="_blank">
                        <img src="http://pic.qiushibaike.com/system/avtnew/1406/14068672/medium/20150517163947.jpg?imageView2/1/w/35/h/35" alt="北京欢迎你2008" title="北京欢迎你2008"/>
                    </a>



                    <a href="/users/8521812/" target="_blank">
                        <img src="http://pic.qiushibaike.com/system/avtnew/852/8521812/medium/20150624111353.jpg?imageView2/1/w/35/h/35" alt="天外流云" title="天外流云"/>
                    </a>


                </div>


            </div>
            <input type="hidden" value = "/article/117304612" id='articleNextLink' />
            <input type="hidden" value = "/article/116812478" id='articlePreLink' />
            <input type="hidden" value =1 id='isArticle' />
            <!-- single page recommend & comments -->
            <div class="recommend clearfix">
                <a href="/article/117356835" title="二货说这里比较嫩、我神补一句" >
                    <span>刚</span>
                    刚和二货男票坐沙发上，突然想咬他一口。。。。。。咬他脸他没意见，后面换在他胸上，这货不同意，说咬脸，我问为什么？二货说
                    …
                </a>
                <a href="/article/117358001" title="深夜" style="background:white url(http://pic.qiushibaike.com/system/pictures/11735/117358001/small/app117358001.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            深夜，炫酷来袭，哈哈哈哈
                        </p>
                    </div>
                </a>
                <a href="/article/117357790" title="满满的套路" style="background:white url(http://pic.qiushibaike.com/system/pictures/11735/117357790/small/app117357790.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            满满的套路。哈哈哈

                        </p>
                    </div>
                </a>



                <a href="/article/117357539" title="哈哈哈哈哈哈哈" style="background:white url(http://pic.qiushibaike.com/system/pictures/11735/117357539/small/app117357539.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            哈哈哈哈哈哈哈！

                        </p>
                    </div>
                </a>



                <a href="/article/117356941" title="过检票口的时候一个大叔指着地上说咦哪个身份证掉了" style="background:white url(http://pic.qiushibaike.com/system/pictures/11735/117356941/small/app117356941.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            过检票口的时候一个大叔指着地上说咦哪个身
                            …
                        </p>
                    </div>
                </a>



                <a href="/article/117356911" title="我说一个月200能吃什么" >
                    <span>刚</span>
                    刚在家没烟抽了，打电话让媳妇买条回来，背景割...............没错，和大多数女生一样，听到这茬她就说让我把
                    …
                </a>


            </div>
            <div class="comments-wrap">
                <h3 id="comments-num" class="fs-m mb-m comments-num">
                    评论 (4)
                </h3>
                <div id="qiushi_comments_117359728" class="comments ">
                    <div id="r117359728" class="comments-list clearfix">
                        <div id="comment-363909617" class="comment-block clearfix floor-4">
                            <div class="avatars">
                                <a href="/users/16048421/" target="_blank" rel="nofollow"><img src="http://pic.qiushibaike.com/system/avtnew/1604/16048421/thumb/20140707231756.jpg" alt="我拉尼玛"></a>
                            </div>
                            <div class="replay">
                                <a href="/users/16048421/" class="userlogin" target="_blank" title="我拉尼玛">我拉尼玛</a>
                                <span class="body">回复 3楼：心大</span>
                            </div>
                            <div class="report">4</div>
                        </div>

                        <div id="comment-363909597" class="comment-block clearfix floor-3">
                            <div class="avatars">
                                <a href="/users/31930370/" target="_blank" rel="nofollow"><img src="http://pic.qiushibaike.com/system/avtnew/3193/31930370/thumb/2016082409354231.JPEG" alt="溪郁沐沐"></a>
                            </div>
                            <div class="replay">
                                <a href="/users/31930370/" class="userlogin" target="_blank" title="溪郁沐沐">溪郁沐沐</a>
                                <span class="body">回复 2楼：楼主现在没有女朋友，只有一只男朋友</span>
                            </div>
                            <div class="report">3</div>
                        </div>
                        <div id="comment-363909548" class="comment-block clearfix floor-2">
                            <div class="avatars">
                                <a href="/users/16048421/" target="_blank" rel="nofollow"><img src="http://pic.qiushibaike.com/system/avtnew/1604/16048421/thumb/20140707231756.jpg" alt="我拉尼玛"></a>
                            </div>
                            <div class="replay">
                                <a href="/users/16048421/" class="userlogin" target="_blank" title="我拉尼玛">我拉尼玛</a>
                                <span class="body">弱弱的问一句，楼主现在还有女朋友么？</span>
                            </div>
                            <div class="report">2</div>
                        </div>

                        <div id="comment-363908711" class="comment-block clearfix floor-1">
                            <div class="avatars">
                                <a href="/users/22270311/" target="_blank" rel="nofollow"><img src="http://pic.qiushibaike.com/system/avtnew/2227/22270311/thumb/20141101103744.jpg" alt="坑比一琼"></a>
                            </div>
                            <div class="replay">
                                <a href="/users/22270311/" class="userlogin" target="_blank" title="坑比一琼">坑比一琼</a>
                                <span class="body">什么意思呢</span>
                            </div>
                            <div class="report">1</div>
                        </div>

                        <div class="comment-tips">
                            <img src="http://static.qiushibaike.com/images/web_loading.gif?v=e71187c31b0dd63dc086ba9d3e1590ff" class="comment-loading-img" alt="评论加载图">
                            <span>评论加载中</span>
                        </div>
                    </div>
                </div>
                <div id="comment-wrap" class="comment-wrap clearfix">
                    <form method="post" style="display:none;" action="/comment/117359728" class="login comments-area-form clearfix" data-article_id="117359728">
                        <input type="hidden" name="_xsrf" value="2|27c34bc9|d5063a30d7913f96fe873493bf107dbb|1472000145"/>
                        <div id="length" class="comment-limit-tips">
<span style="color: #0099FF !important;">
<strong style='font-weight:bold;'>140</strong>
</span>
                        </div>
                        <input type="hidden" name="comment[parent_id]">
                        <input type="hidden" value="117359728" name="comment[article_id]" id="comment_article_id">
                        <input id="comment-area" class="comment_input comment-area d-b f-l va-m p-s fs-s b-f-g b-lg bsi-l" name="comment[content]" autocomplete="off" placeholder="我有话说..." />
                        <input type="hidden" value="0" name="comment[anonymous]">
                        <button type="submit" id="comment_submit" class="comment-submit p-s b-g fs-s c-w br-s bs-l">评论</button>
                    </form>
                    <div class="logout">
                        <a href="javascript:void(0);" class="d-ib va-m p-m ptb-s b-g fs-s c-w br-s bs-l fn-signin-required" rel="nofollow" >登录</a> 后才能发表评论
                    </div>
                </div>
                <input type="hidden" class="isCommentPage">
                <script id="comments-render" type="text/html">
                    {{each comments.items as comment i}}
                    <div id="comment-{{comment['id']}}" class="comment-block clearfix floor-{{comment['rank']}} ">
                        <div class="avatars">
                            {{if comment['anonymous']}}
                            <img src="http://static.qiushibaike.com/images/thumb/anony.png"/>
                            {{ else }}
                            <a href="/users/{{comment['uid']}}/" target="_blank"><img src="{{parseAvatar(comment['uid'],comment['avatar_file_name'])}}"/></a>
                            {{ /if }}
                        </div>
                        <div class="replay">
                            {{ if comment['anonymous']  }}
                            <span class="anomynous">匿名人士</span>
                            {{ else }}
                            <a href="/users/{{comment['uid']}}/" {{ if comment['role_id'] }}class="manager"{{ else }}class="userlogin"{{ /if }} target="_blank">{{comment['login']}}</a>
                            {{ /if }}
              <span class="body">
               {{ if comment['status'] == 'publish' }}
                {{ #content( comment['content'] ) }}
                  {{ else }}
                         发言被屏蔽
                  {{ /if }}
               </span>
                        </div>
                        <div class="report">
                            {{comment['rank']}}
                        </div>
                    </div>
                    {{/each}}
                </script>
            </div>
            <div class="recommend clearfix">
                <h3>你可能喜欢的图片笑话</h3>
                <a href="/article/43680322" title="我感觉这个应该没啥人认识吧" style="background:white url(http://pic.qiushibaike.com/system/pictures/4368/43680322/medium/app43680322.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            我感觉这个应该没啥人认识吧    箱底翻
                            …
                        </p>
                    </div>
                </a>



                <a href="/article/76586947" title="一个人在一个陌生的城市闯荡" style="background:white url(http://pic.qiushibaike.com/system/pictures/7658/76586947/medium/app76586947.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            看糗百几年了，第一次发。一个人在一个陌生
                            …
                        </p>
                    </div>
                </a>



                <a href="/article/43677669" title="买个柚子打扮下陪我两天在解决" style="background:white url(http://pic.qiushibaike.com/system/pictures/4367/43677669/medium/app43677669.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            买个柚子打扮下陪我两天在解决

                        </p>
                    </div>
                </a>



                <a href="/article/76627463" title="不会讲普通话、不认识路" style="background:white url(http://pic.qiushibaike.com/system/pictures/7662/76627463/medium/app76627463.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            缅甸的工友、前些天他弟弟在老家吃了有毒的
                            …
                        </p>
                    </div>
                </a>



                <a href="/article/76684051" title="求组织帮我顶上去让她看到" style="background:white url(http://pic.qiushibaike.com/system/pictures/7668/76684051/medium/app76684051.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            我心目中的她，她也看糗百，求组织帮我顶上
                            …
                        </p>
                    </div>
                </a>



                <a href="/article/43702071" title="我们仨叠罗汉也够不着糖果" style="background:white url(http://pic.qiushibaike.com/system/pictures/4370/43702071/medium/app43702071.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            我们仨叠罗汉也够不着糖果…
                            招招手,糖果
                            …
                        </p>
                    </div>
                </a>


            </div>
            <div class="recommend clearfix">
                <h3>最受欢迎的爆笑笑话</h3>


                <a href="/article/117351714" title="转载来的" style="background:white url(http://pic.qiushibaike.com/system/pictures/11735/117351714/medium/app117351714.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            转载来的，供大家一笑！

                        </p>
                    </div>
                </a>



                <a href="/article/117339113" title="果然一夫一妻是对男人的保护" style="background:white url(http://pic.qiushibaike.com/system/pictures/11733/117339113/medium/app117339113.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            果然一夫一妻是对男人的保护……

                        </p>
                    </div>
                </a>



                <a href="/article/117339307" title="电视剧看多了是吧" style="background:white url(http://pic.qiushibaike.com/system/pictures/11733/117339307/medium/app117339307.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            你个熊孩子，电视剧看多了是吧？

                        </p>
                    </div>
                </a>



                <a href="/article/117344789" title="的确是这样" style="background:white url(http://pic.qiushibaike.com/system/pictures/11734/117344789/medium/app117344789.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            的确是这样

                        </p>
                    </div>
                </a>



                <a href="/article/117305207" title="出来急了点吧" style="background:white url(http://pic.qiushibaike.com/system/pictures/11730/117305207/medium/app117305207.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            兄弟，出来急了点吧

                        </p>
                    </div>
                </a>



                <a href="/article/117347033" title="这个空调太冷啦" style="background:white url(http://pic.qiushibaike.com/system/pictures/11734/117347033/medium/app117347033.jpg) center center no-repeat;background-size:cover;">
                    <div class="recommend-overlay">
                        <p>
                            这个空调太冷啦！

                        </p>
                    </div>
                </a>


            </div>
        </div>
        <div class="col2">
            <div id="sidebar" class="sidebar">
                <div class="shopwindow">
                    <script type="text/javascript">
                        document.write('<a style="display:none!important" id="tanx-a-mm_108378320_8760716_29674533"></a>');
                        tanx_s = document.createElement("script");
                        tanx_s.type = "text/javascript";
                        tanx_s.charset = "gbk";
                        tanx_s.id = "tanx-s-mm_108378320_8760716_29674533";
                        tanx_s.async = true;
                        tanx_s.src = "http://p.tanx.com/ex?i=mm_108378320_8760716_29674533";
                        tanx_h = document.getElementsByTagName("head")[0];
                        if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
                    </script>
                </div>
                <div class="shopwindow">
                    <script type="text/javascript">
                        var cpro_id = "u693365";
                    </script>
                    <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
                </div>

                <div class="sidebar-hot clearfix">
                    <h3>推荐糗事</h3>
                    <ul>

                        <li class="item">
                            <a target="_blank" href="/article/117353951" rel="nofollow">
                                <span><img src="http://pic.qiushibaike.com/system/pictures/11735/117353951/small/app117353951.jpg?imageView2/1/w/146/h/146" alt="有很多司机或者酒店工作人员"/></span>
                            </a>
                            <a target="_blank" href="/article/117353951" title="有很多司机或者酒店工作人员" rel="nofollow">
                                <p>有很多司机或者酒店工作人员</p>
                            </a>
                        </li>

                        <li class="item">
                            <a target="_blank" href="/article/117356504" rel="nofollow">
                                <span><img src="http://pic.qiushibaike.com/system/pictures/11735/117356504/small/app117356504.jpg?imageView2/1/w/146/h/146" alt="此处有狗"/></span>
                            </a>
                            <a target="_blank" href="/article/117356504" title="此处有狗" rel="nofollow">
                                <p>此处有狗</p>
                            </a>
                        </li>

                        <li class="item">
                            <a target="_blank" href="/article/117356384" rel="nofollow">
                                <span><img src="http://pic.qiushibaike.com/system/pictures/11735/117356384/small/app117356384.jpg?imageView2/1/w/146/h/146" alt="就冲这你这个笑你就出不来了"/></span>
                            </a>
                            <a target="_blank" href="/article/117356384" title="就冲这你这个笑你就出不来了" rel="nofollow">
                                <p>就冲这你这个笑你就出不来了</p>
                            </a>
                        </li>

                        <li class="item">
                            <a target="_blank" href="/article/117353260" rel="nofollow">
                                <span><img src="http://pic.qiushibaike.com/system/pictures/11735/117353260/small/117353260.jpg?imageView2/1/w/146/h/146" alt="因为和一位犹太女人结婚"/></span>
                            </a>
                            <a target="_blank" href="/article/117353260" title="因为和一位犹太女人结婚" rel="nofollow">
                                <p>因为和一位犹太女人结婚</p>
                            </a>
                        </li>

                        <li class="item">
                            <a target="_blank" href="/article/117356365" rel="nofollow">
                                <span><img src="http://pic.qiushibaike.com/system/pictures/11735/117356365/small/app117356365.jpg?imageView2/1/w/146/h/146" alt="这里有谁"/></span>
                            </a>
                            <a target="_blank" href="/article/117356365" title="这里有谁" rel="nofollow">
                                <p>这里有谁</p>
                            </a>
                        </li>

                        <li class="item">
                            <a target="_blank" href="/article/117356259" rel="nofollow">
                                <span><img src="http://pic.qiushibaike.com/system/pictures/11735/117356259/small/app117356259.jpg?imageView2/1/w/146/h/146" alt="我觉得我过完的机会来了"/></span>
                            </a>
                            <a target="_blank" href="/article/117356259" title="我觉得我过完的机会来了" rel="nofollow">
                                <p>我觉得我过完的机会来了</p>
                            </a>
                        </li>

                        <li class="item">
                            <a target="_blank" href="/article/117356449" rel="nofollow">
                                <span><img src="http://pic.qiushibaike.com/system/pictures/11735/117356449/small/app117356449.jpg?imageView2/1/w/146/h/146" alt="长了三十多岁了"/></span>
                            </a>
                            <a target="_blank" href="/article/117356449" title="长了三十多岁了" rel="nofollow">
                                <p>长了三十多岁了</p>
                            </a>
                        </li>

                        <li class="item">
                            <a target="_blank" href="/article/117355004" rel="nofollow">
                                <span><img src="http://pic.qiushibaike.com/system/pictures/11735/117355004/small/app117355004.jpg?imageView2/1/w/146/h/146" alt="好吃不如饺子"/></span>
                            </a>
                            <a target="_blank" href="/article/117355004" title="好吃不如饺子" rel="nofollow">
                                <p>好吃不如饺子</p>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="sidebar-tag clearfix">
                    <h3>爆笑笑话大全</h3>
                    <div class="sidebar-tag-block">


                        <a href="/joke/32500/">搞笑版广播体操串词</a>

                        <a href="/joke/32501/">搞笑促销词</a>

                        <a href="/joke/32502/">搞笑的谐音词</a>

                        <a href="/joke/32503/">搞笑发言词</a>

                        <a href="/joke/32504/">搞笑追悼会词</a>

                        <a href="/joke/32505/">搞笑赞美词</a>

                        <a href="/joke/32506/">搞笑辩论词</a>

                        <a href="/joke/32507/">形容人搞笑的词</a>

                        <a href="/joke/32508/">搞笑广播词</a>

                        <a href="/joke/32509/">说唱搞笑词</a>

                        <a href="/joke/32510/">搞笑损人的词</a>

                        <a href="/joke/32511/">搞笑司仪词</a>

                        <a href="/joke/32512/">搞笑婚礼证婚词</a>

                        <a href="/joke/32513/">小学生搞笑快板词</a>

                        <a href="/joke/32514/">春官搞笑词</a>

                        <a href="/joke/32515/">搞笑版证婚词</a>

                        <a href="/joke/32516/">搞笑的推销词</a>

                        <a href="/joke/32517/">搞笑出场词</a>

                        <a href="/joke/32518/">搞笑拍卖词</a>

                        <a href="/joke/32519/">证婚词 搞笑</a>


                    </div>
                </div>

                <div class="shopwindow">
                    <script type="text/javascript">
                        document.write('<a style="display:none!important" id="tanx-a-mm_108378320_8760716_29640993"></a>');
                        tanx_s = document.createElement("script");
                        tanx_s.type = "text/javascript";
                        tanx_s.charset = "gbk";
                        tanx_s.id = "tanx-s-mm_108378320_8760716_29640993";
                        tanx_s.async = true;
                        tanx_s.src = "http://p.tanx.com/ex?i=mm_108378320_8760716_29640993";
                        tanx_h = document.getElementsByTagName("head")[0];
                        if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
                    </script>
                </div>
                <div class="shopwindow">
                    <script type="text/javascript">
                        var cpro_id = "u1101312";
                    </script>
                    <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="foot">
    <div class="foot-ad">
        <script type="text/javascript">
            var cpro_id = "u2460383";
        </script>
        <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
    </div>
    <div class="foot-nav clearfix">
        <div class="foot-nav-col">
            <h3>
                关于
            </h3>
            <ul>
                <li>
                    <a href="http://about.qiushibaike.com/web_jobs.html#team" target="_blank" rel="nofollow">
                        关于糗百
                    </a>
                </li>
                <li>
                    <a href="http://about.qiushibaike.com/web_jobs.html#tech" target="_blank" rel="nofollow">
                        加入我们
                    </a>
                </li>
                <li>
                    <a href="http://about.qiushibaike.com/web_jobs.html#contact" target="_blank" rel="nofollow">
                        联系方式
                    </a>
                </li>
            </ul>
        </div>
        <div class="foot-nav-col">
            <h3>
                帮助
            </h3>
            <ul>
                <li>
                    <a href="http://about.qiushibaike.com/feedback.html" target="_blank" rel="nofollow">
                        在线反馈
                    </a>
                </li>
                <li>
                    <a href="http://about.qiushibaike.com/agreement.html" target="_blank" rel="nofollow">
                        用户协议
                    </a>
                </li>
                <li>
                    <a href="http://about.qiushibaike.com/policy.html" target="_blank" rel="nofollow">
                        隐私政策
                    </a>
                </li>
            </ul>
        </div>
        <div class="foot-nav-col">
            <h3>
                下载
            </h3>
            <ul>
                <li>
                    <a href="http://android.myapp.com/android/appdetail.jsp?appid=107431&icfa=15144196000105020000&lmid=2031"
                       target="_blank" rel="external nofollow">
                        Android 客户端
                    </a>
                </li>
                <li>
                    <a href="http://itunes.apple.com/app/id422853458" target="_blank" rel="external nofollow">
                        iPhone 客户端
                    </a>
                </li>
            </ul>
        </div>
        <div class="foot-nav-col">
            <h3>
                关注
            </h3>
            <ul>
                <li>
                    <a href="#" class="foot-wechat">
                        微信
                        <div class="foot-wechat-tips">
                            <span class="foot-wechat-icon"></span>
                            手机扫描二维码关注
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://weibo.com/qiushibaike" target="_blank" rel="external nofollow">
                        新浪微博
                    </a>
                </li>
                <li>
                    <a href="http://user.qzone.qq.com/1492495058" target="_blank" rel="external nofollow">
                        QQ空间
                    </a>
                </li>
            </ul>
        </div>
        <div class="foot-nav-col">
            <h3>
                组织
            </h3>
            <ul>
                <li>
                    <a href="http://shang.qq.com/wpa/qunwpa?idkey=da34d190ca97a0b21d64ebc6f3ab72c076ed35820e629b78fcf9f6a78f7063cd"
                       target="_blank" rel="external nofollow">
                        网站反馈群
                    </a>
                </li>
                <li>
                    <a href="http://user.qzone.qq.com/1492495058/blog/1408597608" target="_blank"
                       rel="external nofollow">
                        官方粉丝群
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot-copyrights">
        <p>&copy; Qiushibaike.com 糗事百科版权所有</p>
        <p>
            <span>京ICP备14028348号-1</span>
            <span>京ICP证140448号</span>
            <span>京公网安备11010502026088</span>
        </p>
    </div>
</div>
<div class="float-nav">
    <a class="float-nav-backtop" href="#" rel="nofollow">
        <span class="float-nav-backtop-icon"></span>
    </a>
</div>

<!--[if gte IE 6]>
<script type="text/javascript" src="json3.js"></script>
<![endif]-->
<script type="text/javascript" src="libs.min.js"></script>
<script type="text/javascript" src="app.min.js"></script>
</body>
</html>
